html {
    color: black;
    font-family: fantasy;
    background-color: black;
    background-image: url("pics/back_full.jpg");
}

#cone {
    display: inline-table;
    left: 20%;
    margin: 5px;
    width: 20%;
    height: 30%;
    background-color: beige;
    border: black;
    border-style: solid;
}

.cone {
    left: 0px;
    margin: 5px;
    width: auto;
    height: 30%;
}

.preview img {
    position: absolute;
    margin-top: 0;
    flex-direction: column;
    top: 148px;
    left: 38%;
    width: 30%;
    height: 30%;
}

#orderList {
    list-style: georgian;
    padding: 0;
    margin: 0;
}

li {
    padding-left: 16px;
}

li::before {
    content: "•";
    /* Insert content that looks like bullets */
    padding-right: 8px;
    color: blue;
    /* Or a color you prefer */
}


}
#icePreviewTopping {
    height: 10%;
    width: 10%;
    top: 40%;
    left: 48%;
    position: absolute;
}
#icePreviewIcecream {
    height: 30%;
    width: 30%;
    top: 43.5%;
    left: 38%;
    position: absolute;
}
#icePreviewBase {
    height: 20%;
    width: 20%;
    top: 50%;
    left: 43%;
    position: absolute;
}
.cone img {
    height: 30%;
    width: 30%
}
.icecream {
    left: 0px;
    margin: 5px;
    width: auto;
    height: 30%;
}
#icecream {
    display: inline-table;
    left: 20%;
    margin: 5px;
    width: 20%;
    height: 30%;
    background-color: beige;
    border: black;
    border-style: solid;
}
#icecream img {
    height: 20%;
    width: 20%
}
.topping {
    left: 0px;
    margin: 5px;
    width: auto;
    height: 30%;
}
#topping {
    display: inline-table;
    left: 20%;
    margin: 5px;
    width: 20%;
    height: 30%;
    background-color: beige;
    border: black;
    border-style: solid;
}
.topping img {
    left: 50%;
    height: 20%;
    width: 20%
}
#cartCounter {
    position: fixed;
    color: white;
    background-color: #123;
    overflow: show;
    width: 30px;
    top: 6%;
    left: 50%;
    border-radius: 5px 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.purchase {
    position: relative;
    text-align: center;
    top: 363px;
}
#costumerOrders {
    position: fixed;
    color: white;
    background-color: #123;
    overflow: show;
    width: 367px;
    top: 14%;
    left: 34%;
    border-radius: 5px 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.pricePreview #deleteCurrentIce {
    background-color: #123;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}
#cone button {
    bottom: 5%;
    background-color: #123;
    color: white;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
#cone button:active {
    bottom: 5%;
    background-color: white;
    color: #123;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
.purchase button {
    bottom: 5%;
    background-color: #123;
    color: white;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
.purchase button:active {
    bottom: 5%;
    background-color: white;
    color: #123;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
#icecream button {
    bottom: 5%;
    background-color: #123;
    color: white;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
#icecream button:active {
    bottom: 5%;
    background-color: white;
    color: #123;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
#topping button {
    bottom: 5%;
    background-color: #123;
    color: white;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
#topping button:active {
    bottom: 5%;
    background-color: white;
    color: #123;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
#orderConfirmation {
    bottom: 5%;
    background-color: #123;
    color: white;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
#orderConfirmation:active {
    bottom: 5%;
    background-color: white;
    color: #123;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
.pricePreview #toCart {
    height: 5%;
    background-color: #123;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}
.pricePreview #toCart {
    bottom: 5%;
    background-color: #123;
    color: white;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
.pricePreview #toCart:active {
    bottom: 5%;
    background-color: white;
    color: #123;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
.pricePreview #deleteCurrentIce {
    bottom: 5%;
    background-color: #123;
    color: white;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
.pricePreview #deleteCurrentIce:active {
    bottom: 5%;
    background-color: white;
    color: #123;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

/* PREVIEW */
.preview {
    overflow: hidden;
    border: solid black;
    text-align: center;
    color: black;
    background-color: rgba(224, 224, 224, 0.6);
    position: fixed;
    top: 35%;
    left: 0px;
    width: 20%;
    height: 30%;
    justify-content: center;
}
.pricePreview {
    overflow: hidden;
    border: solid black;
    text-align: center;
    color: black;
    background-color: rgba(224, 224, 224, 0.6);
    position: fixed;
    top: 66.1%;
    left: 0px;
    width: 20%;
    height: 20%;
    justify-content: center;
}
.content {
    position: relative;
    width: auto;
    top: 110px;
    text-align: center;
}
body {
    text-align: center;
    top: 150px;
}

/* START NAVBAR */

/* START NAVBAR */

/* START NAVBAR */
.topbox .headline {
    color: white;
    font-size: 40px;
}
.topbox {
    overflow: hidden;
    left: 0;
    text-align: center;
    color: black;
    background-color: #123;
    position: fixed;
    /* Set the navbar to fixed position */
    
    top: 0;
    /* Position the navbar at the top of the page */
    
    width: 100%;
    /* Full width */
    
    height: 70px;
    justify-content: center;
}

/* The navigation bar */
.navbar {
    left: 0;
    overflow: hidden;
    background-color: #123;
    position: fixed;
    /* Set the navbar to fixed position */
    
    top: 70px;
    /* Position the navbar at the top of the page */
    
    width: 100%;
    /* Full width */
    
    height: auto;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    align-items: center;
    text-align: center;
    padding: 5px 13.86%;
    text-decoration: none;
}
.navbar a.active {
    background-color: #f2f2f2;
    color: #123;
}
.navbar a:hover {
    background: #ddd;
    color: #123;
}

/* ENDE NAVBAR */

/* ENDE NAVBAR */

/* ENDE NAVBAR */

/* POPUP ORDER CONFIRMATION */
@media screen and (max-width:1250px) {
    .container ul li {
        width: 40%;
        margin: 40px;
    }
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 600) {}
@media screen and (min-width: 601,
max-width 1024) {}
@media screen and (min-width: 1025) {}